        body {
            background: #f7f7f7ce;
            color: #333;
            font-family: "Inter", Arial, sans-serif;
        }

        .navbar {
            background: #ad080f !important; 
        }

        .navbar .nav-link {
            color: white !important;
        }

        .navbar .nav-link:hover {
            background: #38040e !important;
        }

        .navbar .navbar-brand:hover {
            background: #38040e !important;
        }

        #nav-logo {
            height: 28px;
            width: 30px;
            position: relative;
            left: -15px
        }

        #hero {
            background: #ffffff;
            border-bottom: 1px solid #e5e5e5;
        }

        .btn-primary-custom {
            background: #cb0b0a;
            border: none;
            color: white;
            font-weight: 500;
            padding: 10px 22px;
            transition: 0.2s;
        }
        .btn-primary-custom:hover {
            background: #38040e;
            color: white;
        }

        .card {
            border: 1px solid #e5e5e5;
            background: white;
            transition: box-shadow 0.2s ease;
        }
        .card:hover {
            box-shadow: 0 4px 12px rgba(0,0,0,0.06);
        }

        .product-section img {
            width: auto;
            height: 300px;
        }
